html,
body {
    font-family: "Georgia", Georgia, Arial, sans-serif;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: "Bangla MN";
}

.navbar {
    font-family: "Bangla MN";
}

.box {
    border-color: purple;
}