{% extends 'base.html' %}
{% load crispy_forms_tags %}

  {% block content %}
      <div class="container">

        <div class="blog-header">
            <h1 class="blog-title">Welcome to the Lindsblog</h1>
            <p class="lead blog-description">A blog of Ryan Lindskog's incredibly boring life.</p>

            <form action="" method="post">
                {% csrf_token %}

                {% for choice in form %}
                        {{ choice }}
                {% endfor %}

                <input type="submit" value="Submit" />
            </form>
          </div>

  <div class="row">
    <div class="col-sm-8 blog-main">

    {% for post in posts %}
        {% if post.category == category %}
            <div class="blog-post">
                <h2 class="blog-post-title"> {{ post.title }} </h2>
                <p class="blog-post-meta">{{ post.created }} {{ post.category }} <a href="#">{{ post.author }}</a></p>
                <p>{{ post.body }}</p>
                <hr>
            </div><!-- /.blog-post -->

        {% elif category == 'All' %}
            <div class="blog-post">
                <h2 class="blog-post-title"> {{ post.title }} </h2>
                <p class="blog-post-meta">{{ post.created }} {{ post.category }} <a href="#">{{ post.author }}</a></p>
                <p>{{ post.body }}</p>
                <hr>
            </div><!-- /.blog-post -->
        {% endif %}
    {% endfor %}

        {% if posts.object_list and posts.paginator.num_pages > 1 %}
            <div class="pagination">
                <nav>
                    <ul class="pager">
                      {% if posts.has_previous %}
                          <li><a href="?page={{ posts.previous_page_number }}">Previous</a></li>
                      {% endif %}

                      {% if posts.has_next %}
                          <li><a href="?page={{ posts.next_page_number }}">Next</a></li>
                      {% endif %}
                    </ul>
                </nav>
            </div>
        {% endif %}
    </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Comin abut! <em>Comin abut! Comin abut! </em> Comin abut! Comin abut! Comin abut! Comin <abu></abu>t! Comin abut! Comin abut! Comin abut! Comin abut! </p>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/rlindskog" target="_blank">GitHub</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->



  {% endblock %}