<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  {% include 'head.html'  %}

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">

            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">We are currently under development.  </br> Check back soon! :)</h1>
            </br>
            <p>Send an email to <a href="mailto:ryan@thecommonreport.com">Ryan Lindskog</a> if you have questions.</p>

          </div>

              <footer class="footer text-center">
                <p><a href="#">Back to top</a></p>
                <p>&copy; The Common Report 2015</p>
              </footer>
          </div>

        </div>

      </div>

    </div>

{%  include 'javascript.html' %}

  </body>
</html>