{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    {% if request.user.is_authenticated %}

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h2 align="center">Hello {{ request.user }}! Please fill out the fields below and I will get back to you shortly!</h2>

            <form method="POST" action="">{% csrf_token %}
                {{ form|crispy }}
                <!--<input type="text" value="Name" />-->
                <input type="submit" value="Submit" />
            </form>
        </div>
    </div>
    {% else %}
        <h1>Sign-up to send me a message!</h1>
    {% endif %}

{% endblock %}