{% extends 'blog.html' %}



{% block content %}

    <select>
      <option value="{{ All }}">All</option>
      <option value="{{ Tech }}">Tech</option>
      <option value="{{ Sports }}">Sports</option>
      <option value="{{ Music }}">Music</option>
      <option value="{{ Philosophy }}">Philosophy</option>
    </select>

    {% for post in posts %}
        <div class="blog-post">
            <h2 class="blog-post-title"> {{ post.title }} </h2>
            <p class="blog-post-meta">{{ post.created }} {{ post.category }} <a href="#">{{ post.author }}</a></p>
            <p>{{ post.body }}</p>
{#            <h2>{{ post.slug }}</h2>#}
            <hr>
        </div><!-- /.blog-post -->
    {% endfor %}

        {% if posts.object_list and posts.paginator.num_pages > 1 %}
            <div class="pagination">
                <nav>
                    <ul class="pager">
                      {% if posts.has_previous %}
                          <li><a href="?page={{ posts.previous_page_number }}">Previous</a></li>
                      {% endif %}

                      {% if posts.has_next %}
                          <li><a href="?page={{ posts.next_page_number }}">Next</a></li>
                      {% endif %}
                    </ul>
                </nav>
            </div>
        {% endif %}

{% endblock %}